name: My First GitHub Action

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: 24f2001786@ds.study.iitm.ac.in
        run: echo "Hello, world! This is my GitHub Action."
